@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "loader.css";

@layer base {
  section {
    @apply h-[280px] w-full bg-white px-[20px] py-[10px];
  }
}
@layer components {
  .sidebar-arrow {
    @apply text-[#879596] group-hover:text-black text-[20px];
  }
  .sidebar-category {
    @apply text-[14px] pl-[36px] py-[13px] pr-[20px] cursor-pointer flex justify-between items-center hover:bg-lightGray;
  }
  .card-link {
    @apply absolute bottom-[20px] w-[310px] text-[13px] text-green hover:text-orange hover:underline;
  }
  .home-cards {
    @apply w-[350px] h-[420px] px-[20px] py-[20px] bg-white relative;
  }
  .home-cards-head {
    @apply text-[21px] font-bold mb-3 leading-[29px];
  }
  .sidebar-category-head {
    @apply text-[18px] font-bold pl-[36px] pt-[13px] pb-[5px];
  }
  .header-bottom {
    @apply flex justify-between gap-x-1 items-center h-[39px] bg-gray text-white text-sm px-4;
  }
  .header-bottom-box {
    @apply gap-x-1 items-center h-7 border border-gray  hover:border-white rounded-sm py-2 px-[8px];
  }
  .home-wt {
    @apply text-[12px] w-[147px];
  }
  .home-wh {
    @apply w-[140px] h-[102px];
  }
  .hf-wf {
    @apply h-full w-full;
  }
  .h3-wf {
    @apply h-[300px] w-full;
  }
  .fc {
    @apply flex flex-col;
  }
  .fic {
    @apply flex items-center;
  }
}

.slick-next::before {
  display: none !important;
}
.slick-prev::before {
  display: none !important;
}
.slick-slider {
  min-height: 600px;
}
.star-container svg {
  stroke: #e08030;
  stroke-width: 3px;
}
